html {
    height: 100%; 
    width: 100%;
}

body {
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Verdana', 'Tahoma', 'sans-serif';
}

.loginBGImage {
    background-image: url('images/WCACUCadets.jpg');
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

loginbox {
    float: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    transform: translate(-50%, -50%);
    z-index: 2;

    padding: 20px;
    border-radius: 40px;
    background-color: rgb(205, 205, 205);

    font-size: 30px;
    text-decoration: bold;
    line-height: 2.1;
}

#invalidLogin {
    display: inline-block;
    height: 100%;
    width: 340px;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(182, 59, 59);
    background-color: rgb(255, 152, 152);

    font-size: 15px;
}

#username, #password {
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    border: 0;

    font-size: 20px;
}

#submit {
    width: 340px;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(72, 179, 51);

    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: bold;
}

/* This modifies the autocomplete to fit with the page and relevant contents and not web browser default */
:-webkit-autofill::first-line,
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus,
:-webkit-autofill:active {
    font-family: inherit;
    font-size: 20px;
}